@import url(https://db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=LuloCleanW01-OneBold);

@font-face {font-family: "LuloCleanW01-OneBold";
src: url("https://db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.eot");
src: url("https://db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.eot?#iefix")
format("embedded-opentype"),
url("https://db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.woff2")
format("woff2"),
url("https://db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.woff")
format("woff"),
url("https://db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.ttf")
format("truetype"),
url("https://db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.svg#LuloCleanW01-OneBold")
format("svg"); }

header {
  height: 70px;
  width: 100%;
  text-align: left;
  background: white;
  padding: 35px;
  padding-left: 65px;
  font-size: 15px;
  color: darkgray;
  font-family: "LuloCleanW01-OneBold", bold, serif;
  position: fixed;
}


body {
  width: 100%;
  margin: 0px;
  margin-bottom: 150px;
  overflow-y: scroll;
  background: #edf0ef;
}

.title{
  right: 50px;
  font-size: 25px;
  font-family: "LuloCleanW01-OneBold", bold, serif;
  text-align: right;
  float: right;
  position: fixed;
  top: 20px;

}

table, th, td {
  border: 12px solid #edf0ef;
  font-size: 12px;
}

tr{
  box-shadow: 2px 2px 4px #000000;
}

.cell{ 
  text-align: center;
  font-size: 10px;
  color: white;
  font-family: "Mukta";
  font-weight: bold;
  background: white;
}

h1
{
  color: #CFA06C;
  font-size: 30px;
  font-family: "Mukta", bold, serif;
    position: static;
    font-weight: bold;
}


h2 {
  color: gray;
  font-size: 14px;
  font-family: "Muli", bold, serif;
}

h3 {
  color: white;
  font-size: 10px;
  font-family: "Muli", bold, serif;
  position: static;
  bottom: 0px;
  margin-bottom: 0px;
  margin: 0px;
  right:140px;
  background: lightgray;
}

h4 {
  color: gray;
  font-size: 15px;
  font-family: "Muli", serif;
  top: 450px;
  display: block;
  margin: 0 auto;
}

h5 {
  color: gray;
  font-size: 12px;
  font-family: "Muli", serif;
}


hr {
  border: 1px solid #E8E8E8; margin-right: 0px;
}

form {
  border: 1px solid #E8E8E8;
  border-radius: 15px;
  padding: 45px;
  padding-top: 25px;
  width: 300px;
  position: center;
  margin: auto;
}

.inputField
{
  border-bottom: 2px solid #E8E8E8;
  border-top: 0px solid #E8E8E8;
  border-left: 0px solid #E8E8E8;
  border-right: 0px solid #E8E8E8;
  width: 100%;
  padding: 5px;
  padding-bottom: 5px;
  color: gray;
  font-size: 19px;
  font-family: "Muli", serif;
  outline: none;
  transition: 0.7s;
}

.inputField:focus {
    border-bottom: 2px solid #555;
  border-top: 0px solid #E8E8E8;
  border-left: 0px solid #E8E8E8;
  border-right: 0px solid #E8E8E8;
    }

.mybotton {
  font-family: "Muli", serif;
  border-radius: 50px;
  position: center;
  margin: auto;
  background: none;
}

.buttonrow {
  font-family: "Muli", serif;
  border-radius: 50px;
  margin: 5px;
  margin-top: 10px;
  background: #E8E8E8;
  border: none;
  height: 30px;
}

#signup
{
  background-color: transparent;
  color: #CFA06C;
  font-family: "Muli", serif;
  font-size: 17px;
  border: 1px solid #CFA06C;
  width: 110px;
  border-radius: 50px;
  top: 15px;
  position: fixed;
  right: 20px;
}

#signup:hover {
  border: 2px solid #008B8B;
  position: fixed;
}

#signin
{
  background-color: #CFA06C;
  color: white;
  font-family: "Muli", serif;
  font-size: 20px;
  border: none;
  width: 200px;
  border-radius: 50px;
  position: center;
  margin: auto;
  top: 400px;
}

#signin:hover {
  background-color: #CFA06C;
}


figure {
  position: fixed;
  position: center;
  bottom: 10px;
  width: 100%;
  text-align: center;
  margin: auto;
}



/* ---------*/
.parcoords > canvas {
  font: 14px sans-serif;
  position: absolute;
}
.parcoords > canvas {
  pointer-events: none;
}
.parcoords text.label {
  cursor: default;
}
.parcoords rect.background:hover {
  fill: rgba(120,120,120,0.2);
}
.parcoords canvas {
  opacity: 1;
  transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
}
.parcoords canvas.faded {
  opacity: 0.25;
}
.parcoords {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: white;
}

/* -----Sidebar----*/
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-family: "Muli", serif;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  top: 0px;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}